<!DOCTYPE html>
<HTML lang="en">

<HEAD>
      <TITLE>HBNB</TITLE>
</HEAD>

<BODY>
      {% if state is mapping %}
      <H1>States</H1>
      <UL>
	      <LI>{% for s in state.values()|sort(attribute="name") %}</LI>
            <LI>{{ s.id }}: <B>{{ s.name }}</B></LI>
	    <LI>{% endfor %}</LI>
      </UL>
      {% elif state is defined %}
      <H1>State: {{ state.name }}</H1>
      <H3>Cities:</H3>
      <UL>
	      <LI>{% for city in state.cities|sort(attribute="name") %}</LI>
            <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
	    <LI>{% endfor %}</LI>
      </UL>
      {% else %}
      <H1>Not found!</H1>
      {% endif %}
</BODY>

</HTML>
